* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(138, 55, 55);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('img/bmw.bmp');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right {
    right: 0;
    background: url('img/audi.bmp');
    background-repeat: no-repeat;
    background-size: cover;
}